body {
  line-height: 1.5;
  font-family: "NotoSansCJKjp";
  font-size: 20px;
  color: #413f41;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 13px;
  }
}

a {
  text-decoration: none;
  color: #413f41;
}

a :hover {
  opacity: 0.7;
}

.container {
  width: 85%;
  max-width: 1080px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }
}

.section {
  padding: 80px 0;
}

.bold {
  font-weight: bold;
}

.pc {
  display: block;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}

.btn {
  color: #413f41;
  font-size: 16px;
  line-height: 2;
  padding: 15px;
  border-color: #30d0ed;
  border-radius: 12px;
  outline: none;
}

.ta-c {
  text-align: center;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.d-n {
  display: none;
}

.slidein {
  transform: translateY(-100%);
  transition: 1.5s;
}

.slideout {
  transform: translateY(0%);
  transition: 1.5s;
}

.ttl-link {
  font-size: 14px;
}

.ttl-link::after {
  content: ">";
  padding-left: 16px;
}

.ta-c {
  text-align: center;
}

.header {
  width: 100%;
  background-color: #019bdf;
  top: 0;
  position: fixed;
  z-index: 102;
}

.header-inner {
  width: 100%;
  align-items: center;
}

.header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  padding: 30px 0;
  color: white;
}

.mv {
  height: 100vh;
  background: url(../img/IMG_0523.JPG) no-repeat;
  background-size: cover;
}

.mv p {
  margin-top: 35%;
  font-weight: bold;
  color: #fff5fe;
}

.mv .start_btn {
  display: block;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #019bdf;
  border-radius: 50%;
  font-weight: bold;
  margin: 80px auto;
  padding: 20px 0;
  width: 200px;
}

.quiz {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 100;
}

.quiz-txt {
  margin-top: 30%;
}

.quiz .fl-wrap {
  margin-top: 60px;
}

.quiz .reset {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.quiz .reset-btn {
  cursor: pointer;
}

.quiz .reset-btn:hover {
  text-decoration: underline;
}

.result {
  height: 100vh;
  width: 100%;
  background-color: #353434;
  color: #fff5fe;
  position: fixed;
  z-index: 101;
  text-align: center;
}

.result-txt {
  margin-top: 30%;
}

.result .btn-wrapper {
  padding-top: 40px;
}

.result .restart-btn {
  cursor: pointer;
  background-color: #019bdf;
  border: 2px solid white;
  border-radius: 20px;
}

.result .score {
  padding: 0 15px;
  color: #019bdf;
  font-weight: bold;
  transform: scale(1.2);
  transition: 1s;
}
