//変数////////////////////////////////////

$theme-color: #019bdf;
$sub-color: #30d0ed;
$bg-grey: #a3a5a8;
$bg-grey2: #cccccc;
$bg-grey3: #f0ebee;
$bg-black: #706f6f;
$bg-white: #ffffff;
$bg-pink: #fff5fe;
$bg-gradation-black: $bg-black;
$bg-gradation-white: #9f9ea1;
$text-main: #413f41;
$text-white: #fff5fe;
$text-grey: #5a5a5a;

//共通/////////////////////////////////////
//マップ型変数breakpointsを定義
$breakpoints: (
    //キー　　値
    "sm": "screen and (max-width: 576px)",
    "md": "screen and (max-width: 768px)",
    "lg": "screen and (max-width: 992px)",
    "xl": "screen and (max-width: 1200px)"
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
    //map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
        //この中をカスタムできる
        @content;
    }
}

body {
    line-height: 1.5;
    font-family: "NotoSansCJKjp";
    font-size: 20px;
    color: $text-main;

    @include mq(md) {
        font-size: 15px;
    }

    @include mq(sm) {
        font-size: 13px;
    }
}

a {
    text-decoration: none;
    color: $text-main;

    :hover {
        opacity: 0.7;
    }
}

.container {
    width: 85%;
    max-width: 1080px;
    margin: auto;
    @include mq(md) {
        width: 90%;
    }
    @include mq(sm) {
        width: 95%;
    }
}

.section{
    padding: 80px 0;
}

.bold {
    font-weight: bold;
}
.pc {
    display: block;
    @include mq(md) {
        display: none;
    }
}
.sp {
    display: none;
    @include mq(md) {
        display: block;
    }
}
.btn {
    color: $text-main;
    font-size: 16px;
    line-height: 2;
    padding: 15px;
    border-color: $sub-color;
    border-radius: 12px;
    outline: none;
}
.ta-c {
    text-align: center;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrap{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.d-n {
    display: none;
}
.slidein{
    transform: translateY(-100%);
    transition: 1.5s;
}
.slideout{
    transform: translateY(0%);
    transition: 1.5s;
}
.ttl-link {
    font-size: 14px;
    &::after {
        content: ">";
        padding-left: 16px;
    }
}

.ta-c{
    text-align: center;
}

//header////////////////////////////////////
.header {
    width: 100%;
    background-color: $theme-color;
    top: 0;
    position: fixed;
    z-index: 101;
    &-inner {
        width: 100%;
        align-items: center;
    }
    h1{
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        padding: 30px 0;
        color: white;
    }
    
}



.mv{
    height: 100vh;
    background: url(../img/IMG_0523.JPG) no-repeat;
    background-size: cover;
    p{
        margin-top: 35%;
        font-weight: bold;
        color: $text-white;
    }
    .start_btn{
        display: block;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #019bdf;
        border-radius: 50%;
        font-weight: bold;
        margin: 80px auto;
        padding: 20px 0;
        width: 200px;
        
    }
}

.quiz{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    &-txt{
        margin-top: 30%;
    }
    .fl-wrap{
        margin-top: 60px;
    }
    .reset{
        position: absolute;
        bottom: 10%;
        right: 10%;
        &-btn{
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        
    }
}
